.card {
    border: 5px solid #b46ceb;
    border-radius: 8px;
    padding: 16px;
    width: 300px;
    background-color: #dbadff;

}

.fotico {
    width: 100%;
    height: auto;
    border-radius: 8px;
}